body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: 100;
}

.header-box {
  width: 100%;
  height: 40px;
  margin: 0;
  background-color: rgb(34, 32, 32);
  border: 0px solid;
  border-radius: 50px 5px;
}

h1 {
  color: #5599ff;
  text-shadow: 2px 2px 4px rgba(230, 219, 219, 0.7);
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 400 !important;
}

.content {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
}

.element {
  width: auto;
  height: auto;
  background-color: grey;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 6px;
  -moz-box-shadow: 6px 6px 3px black;
  -webkit-box-shadow: 6px 6px 3px black;
  box-shadow: 6px 6px 3px black;
}

.element-head {
  height: 40px;
  padding-top: 2px;
  padding-bottom: 16px;
  padding-left: 10px;
  background-color: rgb(51, 49, 49);
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.element-head h4 {
  color: white;
  width: 250px;
  padding-top: 8px;
  margin: 0;
  font-size: 18px;
  font-weight: 100;
}

.element-content {
  overflow: hidden;
  transition: max-height 1.5s ease;
  max-height: 0;
}

.element-content.open {
  max-height: 550px;
}

.element-footer {
  height: 40px;
  width: 100%;
  background-color: #423f3f;
  margin: 0;
  padding: 0;
}

.text-footer {
  font-size: 14px;
  color: white;
  float: right;
  padding-right: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  background-color: black;
  display: block;
  width: auto;
  border: 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  text-align: center;
  margin: 5px 2px 5px;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

li a:hover {
  font-weight: 300;
  font-size: 18px;
}

button {
  width: 160px;
  min-height: 40px;
  height: auto;
  color: white;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 14px;
  float: right;
  margin-right: 10px;
}

button:hover {
  cursor: pointer;
  font-weight: 300;
  border: 1px solid #5599ff;
  color: #5599ff;
}

.main-content {
  width: 100%;
  min-height: 500px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 0px solid black;
}

.about-me {
  width: 250px;
  height: 300px;
  background-color: #423f3f;
  border: 0px solid;
  border-radius: 10px;
  margin-right: 100px;
  transition: background-color 0.8s ease, color 0.8s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-box-shadow: 6px 6px 3px black;
  -webkit-box-shadow: 6px 6px 3px black;
  box-shadow: 6px 6px 3px black;
}

.about-me:hover {
  background: linear-gradient(to right, rgb(75, 75, 85), transparent);
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(10, 10, 14, 0.7);
  text-decoration: overline;
  color: white;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.about-me a {
  color: #5599ff;
  font-weight: 300;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}

.about-me a:hover {
  font-weight: 400;
  color: white;
}

.projects {
  width: 250px;
  height: 300px;
  background-color: #423f3f;
  border: 0px solid;
  border-radius: 10px;
  margin-right: 0px;
  transition: background-color 0.8s ease, color 0.8s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-box-shadow: 6px 6px 3px black;
  -webkit-box-shadow: 6px 6px 3px black;
  box-shadow: 6px 6px 3px black;
}

.projects:hover {
  background: linear-gradient(to right, rgb(75, 75, 85), transparent);
  cursor: pointer;
  color: white;
  text-decoration: overline;
  text-shadow: 2px 2px 4px rgba(10, 10, 14, 0.7);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.projects a {
  color: #5599ff;
  font-weight: 300;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}

.projects a:hover {
  font-weight: 400;
  color: white;
}

.contact {
  width: 250px;
  height: 300px;
  background-color: #423f3f;
  border: 0px solid;
  border-radius: 10px;
  margin-left: 100px;
  transition: background-color 0.8s ease, color 0.8s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-box-shadow: 6px 6px 3px black;
  -webkit-box-shadow: 6px 6px 3px black;
  box-shadow: 6px 6px 3px black;
}

.contact:hover {
  background: linear-gradient(to right, rgb(75, 75, 85), transparent);
  cursor: pointer;
  color: white;
  text-decoration: overline;
  text-shadow: 2px 2px 4px rgba(10, 10, 14, 0.7);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.contact a {
  color: #5599ff;
  font-weight: 300;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}

.contact a:hover {
  font-weight: 400;
  color: white;
}

.footer {
  width: 100%;
  height: auto;
  background-color: rgb(68, 66, 66);
  bottom: 0;
  left: 0;
  position: fixed;
}

.footer p {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-height: 655px) {
  .footer {
    position: relative;
  }
  .element {
    margin-bottom: 20px;
  }
}

@media (max-width: 850px) {
  body {
    background-image: none;
    background: linear-gradient(
      to right,
      rgb(234, 234, 238),
      rgb(147, 147, 180)
    );
  }
}

@media (max-width: 600px) {
  .about-me {
    margin-top: 20px;
    margin-right: 0;
  }

  .projects {
    margin-top: 20px;
  }

  .contact {
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 68px;
  }
}

@media (max-width: 950px) {
  .about-me {
    margin-top: 20px;
    margin-right: 10px;
  }

  .projects {
    margin-top: 20px;
  }

  .contact {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 0px;
  }
}

@media (max-width: 770px) {
  .contact {
    margin-bottom: 68px;
  }
}
