* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightblue;
}
/* пример селекторов по тегам */

h1 {
  text-align: center;
  color: orangered;
}

p {
  color: darkmagenta;
  font-style: italic;
}

/* селектор по классу */
/* обращаемся через точку */
/* классы придумываем сами */
/* значение для класса пишем в одно слово */

.bold-underline {
  font-weight: bold;
  text-decoration: underline;
}

.blue-text {
  color: rgb(44, 44, 223);
}

/* селекторы по классу приоритетнее селекторов по тегу - применятся их стили */

p > span {
    font-size: 28px;
}

h3, h4 {
    color: green;
}

.image-priority {
    width: 400px;

}